<div class="container">
  <h1>List of all tools</h1>
  <ul>
  <% @tools.each do |tool| %>
    <%= link_to tool_path(tool) do %>
      <li><%= tool.name %></li>
    <% end %>
  <% end %>
  </ul>
  <% if policy(Tool).create? %>
    <%= link_to "Add a new tool", new_tool_path, class: "btn btn-primary" %>
  <% end %>
</div>
