.booking-tool {
  background-color: rgba($color: white , $alpha: 0.7);
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: left;
  padding: 10px;
  margin-left: 16px;
  height: 450px;
}

.booking-tool h2 {
  padding: 5px;
}

.tool-items-img {
  height: 450px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  object-fit: cover;
}

.tool-items {
  display: flex;
}

// .tool-buttons {
//   display: flex;
// }
