.booking-tool {
  background-color: rgba($color: white , $alpha: 0.7);
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
}

.tool-photo img {
  height: 370px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.pictures-tool {
  display: flex;
}

.small-pics img {
  width: 150px;
  margin-bottom: 8px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
