.btn-ghost {
  color: $taupe;
  border: 1px solid $taupe;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  background-color: $taupe;
  opacity: 1;
  color: white;
}

.cancel-link {
  text-decoration: none;
  padding: 15px;
  font-size: 16px;
}
.cancel-link:hover {
  opacity: 1;
  text-decoration: underline;
}

.btn-modal {
  width: 100px;
}
