.card-for-list {
  overflow: hidden;
  height: 90px;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;
}

.card-for-list img {
  height: 90px;
  width: 90px;
  object-fit: cover;
  margin-right: 10px;
}

.card-for-list h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-for-list p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-for-list .card-for-list {
  padding: 16px;
}

.card-for-list-pricing {
  text-align: left;
}

.list-container {
  width: 25vw;
  background: $light;
}

.list-container-title {
  position: relative;
  color: $taupe;
  padding: 5px;
  font-size : 21px;
}

.list-container-title a {
  color: white;
  position: absolute;
  right: 10px;
  top: 0px;
  font-size : 21px;
}

.add-btn {
  width: 25px;
  text-align: center;
  border: 1px black solid;
  border-radius: 50px;
  color: black;
}
