.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#map-box {
  height: 100vh;
  position: sticky;
  top: 0;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
}

@media(max-width: 768px) {
  .wrapper {
    align-items: center;
    grid-template-columns: 1fr;
    flex-direction: column-reverse;
  }

  #map-box {
    height: 50vh;
    width: 50vh;
    // box-shadow: ;
  }
}

.mapboxgl-ctrl-attrib-inner {
  text-decoration: none;
}

// .mapbox-improve-map {
//   text-decoration: none;
// }

a.mapboxgl-ctrl-logo {
  display: none;
}
